- var count = 20, index = 1;
- var getRandom = function(precision) {
  - return (Math.random() * precision).toFixed(2);
- }
block content
  table(id='table-reviews_weeks' class='table m-0' style='width: 100%')
    thead
      tr
        th(rowspan='2').text-center
          strong Products
        th(colspan='2').text-center
          div
            strong Week 1 2018
          small 08-Apr - 14 Apr
        th(colspan='2').text-center
          div
            strong Week 2 2018
          small 15-Apr - 21 Apr
        th(colspan='2').text-center
          div
            strong Week 3 2018
          small 22-Apr - 28 Apr
        th(colspan='2').text-center
          div
            strong Week 4 2018
          small 29-Apr - 05 May
        th(colspan='2').text-center
          div
            strong Week 5 2018
          small 06-May - 12 May
        th(colspan='2').text-center
          div
            strong Week 6 2018
          small 13-May - 19 May
        th(colspan='2').text-center
          div
            strong Current Week
          small 20-May - 26 May
      tr
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
      tr.total
        th.text-center All Products
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
        th.text-right= getRandom(1000)
        th.text-center= getRandom(1000)
    tbody
      while index < count
        tr
          td.text-center 
            button.btn.btn-sm.btn-link.p-1(role='button' tabindex='0' data-toggle='popover')
              | B018E65WW#{index}
              i.ml-2.icon-info
          td.text-right= getRandom(1000)
          td.text-center= getRandom(100)
          td.text-right= getRandom(1000)
          td.text-center= getRandom(100)
          td.text-right= getRandom(10000)
          td.text-center= getRandom(100)
          td.text-right= getRandom(100)
          td.text-center= getRandom(1000)
          td.text-right= getRandom(1000)
          td.text-center= getRandom(1000)
          td.text-right= getRandom(1000)
          td.text-center= getRandom(100)
          td.text-right= getRandom(1000)
          td.text-center= getRandom(100)
        - index++;  
